.App {
  text-align: center;
}

.main-bg{
  height: 600px;
  background-image: url(https://shoemarketnyc.com/cdn/shop/files/SM_JULY_213.jpg?v=1689934477&width=3000);
  background-size: cover;
  background-position: center;
}
.card{
  margin-top: 220px;
  border: none;
}
.card img{
  width: 300px;
}
.card h4{
  font-size: medium;
}

.card p{
  font-size: small;
}